# TensorFlow and Keras Basic Syntax

With TensorFlow 2.0 , Keras is now the main API choice.

# The Data

We will use a very simple fake data set.

Let's pretend this data are measurements of some rare gem stones, with 2 measurement features and a sale price. Our final goal would be to try to predict the sale price of a new gem stone we just mined from the ground, in order to try to set a fair price in the market.

# Load the Data

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('DATA/fake_reg.csv')

In [4]:
df.head()

        price     feature1     feature2
0  461.527929   999.787558   999.766096
1  548.130011   998.861615  1001.042403
2  410.297162  1000.070267   998.844015
3  540.382220   999.952251  1000.440940
4  546.024553  1000.446011  1000.338531